<p>
    <strong>6) </strong>
    <strong>Design decisions and tradeoffs:</strong>
</p>
<p>
    PHP/JavaScript:
</p>
<p>
    As we are going to create a web-based project the first issue we dealt with
    as a group was whether to develop in JavaScript or in PHP. JavaScript is
    one of the most popular and dynamic programming languages used for creating
    and developing websites. But some members of the group do not have
    JavaScript experience .On the other hand PHP is a server-side web
    programming language that is widely used for web development. We decided to
    use PHP and SQL as all our group members have good experience in PHP. It is
    easy to learn PHP and manipulate .PHP is cheap, secure, fast and reliable
    for developing web applications.
</p>
<p>
    Laravel/Asp.net:
</p>
<p>
    Two common programming languages that is used for framework are
    PHP(Laravel) and C(Asp.net).
</p>
<p>
    For framework we are going to use Laravel .Laravel is a PHP framework that
    speeds up the development process with its elegant and simple syntax
    pattern. PHP is very common and you can easily find developers with
    experience to join your team, and Laravel has a lot more features .The most
    important reason for choosing Laravel is as we are familiar with PHP very
    well it is easy for us to use Laravel.
</p>
<p>
    Three Tier Design
</p>
<p>
    We had to decide how to divide the project between all team members was
    another design issue. We finally decided on a 3 tier design, which is an
    application program organized into three major parts.
</p>
<p>
    The three parts are:
</p>
<p>
     1) The user application
    <br/>
</p>
<p>
     2) The server application
    <br/>
</p>
<p>
    3) The database and programming related to managing it
</p>
<p>
    With three tiers or parts, each part can be developed concurrently by a
    different team of programmers . This design idea was very appealing to our
    team.
</p>
