<p>
	<b>4. User interface issues: </b>
</p>
<p>
	<b> </b>
</p>
<p>
	This section will address User Interface issues as they apply to the
	following hypothetical users of the Advanced Intelligence Tourist Guide
	.Administrators who can use this to register tourist or users, add places,
	view feedback and Users who will use it to find out different places
	according to their preferences
</p>
<p>
	The user interface of the project will be divided into two main sections.
	"Admin" application and "User" Application. These tools will allow the
	various users to accomplish the management of the software and management
	of the rest of the project. The personas described in the SRS represented
	the types of the people who will make use the project and the purpose of
	the section is to describe how the user interfaces allow those people to do
	their task.
</p>
<p>
	<b>1. </b>
	<b>Admin Application</b>
</p>
<p>
	<b> </b>
</p>
<p>
	This application will reside on the Project Server, and will be used mostly
	by the
</p>
<p>
	Administrator (a.k.a. "Nabil Mohammad"). It will have the following basic
	layout:
</p>
<p>
	<b>a. </b>
	<b>Login:</b>
	Admin can login his personal account.
	<img
		src="file:///C:\Users\Turza\AppData\Local\Temp\msohtmlclip1\01\clip_image002.png"
		width="625"
		height="300"
	/>
</p>
<p>
	<b>b. </b>
	<b>Add Places:</b>
	Admin can add places.
</p>
<p>
	i. Name: Name of a place.
</p>
<p>
	ii. Images: Admin can add images of the particular places.
</p>
<p>
	iii. Address: Admin can add address of that place.
</p>
<p>
	iv. Area: Proper area of a place.
</p>
<p>
	v. Distance: Add distance from current location.
</p>
<p>
	vi. Description: Add description of that place.
</p>
<p>
	<img
		src="file:///C:\Users\Turza\AppData\Local\Temp\msohtmlclip1\01\clip_image004.png"
		width="606"
		height="399"
	/>
</p>
<p>
	<b>c. </b>
	<b>View/Edit Places:</b>
	Admin Can view tags and description of that place.
</p>
<p>
	<b>d. </b>
	<b>View User:</b>
	Admin can see the user details.
</p>
<p>
	<b>e. </b>
	<b>View Feedback:</b>
	Admin can see users Feedback.
</p>
<p>
	<b>f. </b>
	<b>Logout:</b>
	Admin can logout from his account.
</p>
<p>
	<b>2. </b>
	<b>User Application :</b>
</p>
<p>
	This application will reside on the computers and smartphones of all the
	users, and will be the main interface to the database for all. It will have
	the following layout:
</p>
<p>
	<b>a. </b>
	<b>Register:</b>
	User can register his personal detail.
</p>
<p>
	<b>b. </b>
	<b>Login:</b>
	User can login his/her account
	<img
		src="file:///C:\Users\Turza\AppData\Local\Temp\msohtmlclip1\01\clip_image006.png"
		width="624"
		height="313"
	/>
</p>
<p>
	<img
		src="file:///C:\Users\Turza\AppData\Local\Temp\msohtmlclip1\01\clip_image008.png"
		width="624"
		height="410"
	/>
	.
</p>
<p>
	<b>c. </b>
	<b>Tour Plan:</b>
	User will be able to view the places according to preferences. He/she need
	to select two between dates and the plan will be displayed.
</p>
<p>
	<b>d. </b>
	<b>Feedback:</b>
	User can send his/her feedback.
</p>
<p>
	<b>e. </b>
	<b>Logout:</b>
	User can logout from his account.
</p>
<b>
	<br clear="all"/>
</b>
